.dub
/tmp
/pong_multiballs
dub.selections.json
docs.json
__dummy.html
docs/
/ballgame
ballgame.so
ballgame.dylib
ballgame.dll
ballgame.a
ballgame.lib
ballgame-test-*
*.exe
*.dll
*.o
*.obj
*.lst
*.geany